<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="index.css">

</head>
<body>
<div class="c1011-top-Wrap" >
    <!-- line1 -->
    <div class="c1011-top-WLogo clearfix">
        <!-- left -->
        <h1 class="c1011-top-WLogo_left">
            <a class="" href="#" title="中国翘板开关交易网">
                <img class=" " src="../fodder/c1011/c1011-top-logo.jpg" alt="中国高粱交易网">
            </a>
        </h1>
        <!-- center -->
        <div class="c1011-top-WLogo_Center ">
            <ul class="c1011-top-WLogo_CTop clearfix">
                <li class="on">供应</li>
                <li>求购</li>
                <li>公司</li>
                <li>招商</li>
            </ul>
            <div class="c1011-top-WLogo_CBtm clearfix">
                <input type="text" class="serchInp" value="请输入您感兴趣的内容" onclick="if(this.value == '请输入您感兴趣的内容') this.value='';" style="color: rgb(153, 153, 153);" onblur="if(this.value=='') this.value='请输入您感兴趣的内容';">
                <input type="submit" class="btnSee" value="找供应">
                <input type="submit" class="btnLM " value="搜索">
            </div>
            <div class="c1011-top-WLogo_CBtmLinks">
                <a href="#" target="_blank">高粱供应</a>
                <a href="#" target="_blank">高粱采购</a>
                <a href="#" target="_blank">高粱招商</a>
            </div>

        </div>
        <!-- right -->
        <div class="c1011-top-WLogo_Rt clearfix">
            <div  class="tellNumber">
                0371-85518587
            </div>
        </div>

    </div>
    <!-- line2 -->
    <div class="c1011-top-WNav">
        <div class="c1011-top-WNavCon ">
            <div class="c1011-top-WNavMain clearfix">
                <!--navleft -->
                <div class="c1011-top-WNav-Data">
                    <label class="dataItem">
                        <span class="dataItem_title">在线商家</span><i class="dataItem_dot">：</i><strong class="dataItem_data">1234567</strong>
                    </label>
                    <label class="dataItem">
                        <span class="dataItem_title">在线商家</span><i class="dataItem_dot">：</i><strong class="dataItem_data">125852</strong>
                    </label>
                </div>
                <!--  navright-->
                <ul class="c1011-top-WNav-list clearfix">
                    <li class="on">
                        <a class="navLink" href="#" target="_blank">首页</a>
                    </li>
                    <li>
                        <a class="navLink" href="#" target="_blank">高粱供应</a>
                    </li>
                    <li>
                        <a class="navLink" href="#" target="_blank">高粱求购</a>
                    </li>
                    <li>
                        <a class="navLink" href="#" target="_blank">高粱加盟</a>
                    </li>
                    <li>
                        <a class="navLink" href="#" target="_blank">企业会员</a>
                    </li>
                    <li>
                        <a class="navLink" href="#" target="_blank">行业资讯</a>
                    </li>
                    <li>
                        <a class="navLink" href="#" target="_blank">首页test</a>
                    </li>
                    <li>
                        <a class="navLink" href="#" target="_blank">首页test</a>
                    </li>
                    <li>
                        <a class="navLink" href="#" target="_blank">首页test</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="c1011-row0-Wrap clearfix">
    <!-- left  -->
    <div class="c1011-row0-Left">
        <div class="c1011-row0-LTop ">
            <div class="c1011-row0-LTopCon">
                <ul class="c1011-row0-LTop-list clearfix" >
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">11深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">22深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">33深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">44深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">55深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">66深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">77深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">88深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">99深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">10深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">11深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">12深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">13深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">14深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">15深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">16深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>
                    <li><label>【求购】</label>
                        <a title="深圳废" href="" target="_blank">17深圳废不锈钢回收，深圳回收废不锈钢，深圳收购废不锈钢，深圳求购废不锈钢，深圳不锈钢废料回收，深圳回收</a>
                    </li>

                </ul>
            </div>

        </div>
        <div class="c1011-row0-LBtm">
            <ul class="c1011-row0-LBtm-list clearfix">
                <li>
                    <a href="" target="_blank">1-1 新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                    <a href="" target="_blank">1-2新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                    <a href="" target="_blank">1-3 新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                    <a href="" target="_blank">1-4 新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                </li>
                <li>
                    <a href="" target="_blank">【资讯】2-1我是标题 </a>
                    <a href="" target="_blank">2-2我是标题  </a>
                    <a href="" target="_blank">2-3我是标题  </a>
                    <a href="" target="_blank">2-4我是标题  </a>
                </li>
                <li>
                    <a href="" target="_blank">【资讯】3-1tab切换三 </a>
                    <a href="" target="_blank">3-2新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                    <a href="" target="_blank">3-3 新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                    <a href="" target="_blank">3-4 新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                </li>
                <li>
                    <a href="" target="_blank">4-1tab切换四 </a>
                    <a href="" target="_blank">4-2新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                    <a href="" target="_blank">4-3 新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                    <a href="" target="_blank">4-4 新疆农产品直销绿城库尔勒香梨物美价廉 </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- center -->
    <div class="c1011-row0-Center ">
        <!--center top -->
        <div class="c1011-row0-CTopBanner ">
            <ul class="c1011-row0-CTopBannerPics">
                <li>
                    <a href="#" target="_blank" title="幻灯图">
                        <img src="../fodder/c1011/banner1.jpg" alt="幻灯图">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="幻灯图">
                        <img src="../fodder/c1011/banner2.jpg" alt="幻灯图">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="幻灯图">
                        <img src="../fodder/c1011/banner3.jpg" alt="幻灯图">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="幻灯图">
                        <img src="../fodder/c1011/banner4.jpg" alt="幻灯图">
                    </a>
                </li>

            </ul>
            <div class="c1011-row0-CTopBannerTabs">
                <span class="on">1</span>
                <span class="">2</span>
                <span class="">3</span>
                <span class="">4</span>
            </div>
        </div>
        <!-- center bottom -->
        <div class="c1011-row0-CBtmScroll">
            <div class="c1011-row0-CBtmScroll_btnL">
                <img src="../image/c1011/c1011-row0-arrL.jpg">
            </div>
            <div class="c1011-row0-CBtmScrollCon">
                <ul class="c1011-row0-CBtmScroll-list">
                    <li> <a title="轮播图" href="#" target="_blank"> <img src="../fodder/c1011/banner1.jpg" alt="轮播图"> </a> </li>
                    <li> <a title="轮播图" href="#" target="_blank"> <img src="../fodder/c1011/banner2.jpg" alt="轮播图"> </a> </li>
                    <li> <a title="轮播图" href="#" target="_blank"> <img src="../fodder/c1011/banner3.jpg" alt="轮播图"> </a> </li>
                    <li> <a title="轮播图" href="#" target="_blank"> <img src="../fodder/c1011/banner4.jpg" alt="轮播图"> </a> </li>
                    <li> <a title="轮播图" href="#" target="_blank"> <img src="../fodder/c1011/banner5.jpg" alt="轮播图"> </a> </li>
                    <li> <a title="轮播图" href="#" target="_blank"> <img src="../fodder/c1011/banner6.jpg" alt="轮播图"> </a> </li>
                    <li> <a title="轮播图" href="#" target="_blank"> <img src="../fodder/c1011/banner7.jpg" alt="轮播图"> </a> </li>
                </ul>
            </div>
            <div class="c1011-row0-CBtmScroll_btnR">
                <img src="../image/c1011/c1011-row0-arrR.jpg">
            </div>
        </div>
    </div>
    <!-- right -->
    <div class="c1011-row0-Right">
        <!--right top  -->
        <div class="c1011-row0-RTop">
            <ul class="c1011-row0-RTop_tabBtns">
                <li>平台公告</li>
            </ul>
            <!-- tab切换的主题内容 -->
            <div class="c1011-row0-RTop_tabCons">
                <ul class="c1011-row0-RTop_tabCons-list  clearfix">
                    <li><a href="#" target="_blank" title="">【供应】1对于开关插座的多元化介绍关插座的多元化介绍</a></li>
                    <li><a href="#" target="_blank" title="">【供应】2开关电源行业“渐入佳境” 产 </a></li>
                    <li><a href="#" target="_blank" title="">【供应】3开关、插座安装工艺</a></li>
                    <li><a href="#" target="_blank" title="">【供应】4变压器到开关柜的母线桥耐压实验</a></li>
                    <li><a href="#" target="_blank" title="">【供应】5智能开关今后的趋势</a></li>
                    <li><a href="#" target="_blank" title="">【供应】6当今开关电源技术四大趋势</a></li>
                    <li><a href="#" target="_blank" title="">【供应】7当今开关电源技术四大趋势</a></li>
                    <li><a href="#" target="_blank" title="">【供应】8当今开关电源技术四大趋势</a></li>
                </ul>
            </div>
        </div>
        <!-- right center  -->
        <div class="c1011-row0-RCtr c1011-row0-RCtrAfter"> <!-- 登录后的样式 class="c1011-row0-RCtrAfter"  -->
            <ul>
                <li><a href="" target="_blank">免费注册</a></li>
                <li><a href="" target="_blank">登录</a></li>
                <li><a href="" target="_blank" rel="nofollow">发布产品</a></li>
                <li><a href="" target="_blank" rel="nofollow">发布求购</a></li>
            </ul>
        </div>
        <!-- right bottom -->
        <div class="c1011-row0-RBtm  ">
            <ul>
                <li><a href="#" target="_blank" title="在线交易" rel="nofollow">在线交易</a></li>
                <li><a href="#" target="_blank" title="企业广告" rel="nofollow">企业广告</a></li>
                <li><a href="#" target="_blank" title="登录" rel="nofollow">登录</a></li>
                <li><a href="#" target="_blank" title="发布采购" rel="nofollow">发布采购</a></li>
            </ul>
        </div>
    </div>


</div>
<div class="c1011-row1-Wrap">
    <div class="c1011-row1-Head">
        <h2><a title="金牌供应商展示" href="#" target="_self">金牌供应商展示</a></h2>
    </div>
    <div class="c1011-row1-Con ">
        <ul class="c1011-row1-Con-list clearfix">
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/test.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/row1-test1.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/test.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/row1-test1.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/test.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/test.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/test.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/row1-test1.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>

            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/row1-test1.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="" target="_blank" title="白沙粮食加工厂" rel="nofollow">
                        <img src="../fodder/c1011/row1-test1.jpg" alt="白沙粮食加工厂">
                    </a>
                </span>
            </li>




        </ul>
    </div>
</div>

</body>

<script type="text/javascript" src="../js/common/jquery-1.8.0.min.js"></script>

<script type="text/javascript" src="../js/common/commonEffect.js"></script>
<script type="text/javascript">
    $(function () {
        $(".c1011-top-WLogo_Center").each(function () {
            var $li=$(this).find(".c1011-top-WLogo_CTop li");
            var $btn=$(this).find(".c1011-top-WLogo_CBtm .btnSee");
            var txt=$li.eq(0).text();
            var _inde=0;
            $btn.val("找"+txt);
            $li.click(function () {
                $(this).addClass("on").siblings("li").removeClass("on");
                if($(this).hasClass("on")){
                    _inde=$(this).index();
                    console.log(_inde)
                }
                txt=$li.eq(_inde).text();
                $btn.val("找"+txt);
            });
        });

        $(".c1011-row0-LTop").slideToTop({
            slideCon:".c1011-row0-LTop-list",
            slideTime:500,     //可选参数
            intervalTime:2500   //可选参数
        });
        $(".c1011-row0-LBtm").slideGradual({
            slideCon:".c1011-row0-LBtm-list",
            fadeInTime:0,
            fadeOutTime:0,
            intervalTime:1000
        });

        $(".c1011-row0-CTopBanner").slideToTop({
            slideCon:".c1011-row0-CTopBannerPics",
            tabCon:".c1011-row0-CTopBannerTabs",
            slideTime:500,     //可选参数
            intervalTime:2500   //可选参数
        });

        //向左边滚动
        $(".c1011-row0-CBtmScroll").slideToLeft({
            slideCon:".c1011-row0-CBtmScroll-list",        //必选参数
            btnLeft:".c1011-row0-CBtmScroll_btnL",         //可选参数
            btnRight:".c1011-row0-CBtmScroll_btnR",        //可选参数
            slideTime:400,      //可选参数
            intervalTime:2000   //可选参数
        });
        $(".c1011-row0-RTop_tabCons").slideToTop({
            slideCon:".c1011-row0-RTop_tabCons-list",
            slideTime:500,     //可选参数
            intervalTime:2500   //可选参数
        });

        $(".c1011-row1-Con-list").each(function (i) {
            var _this=this;
            $(this).find("li").hover(function () {
                $(_this).find("li").stop(true,false).animate({opacity:"0.5",filter:"alpha(opacity=50)"},500);
                $(this).stop(true,false).animate({opacity:"1",filter:"alpha(opacity=100)"},500);
            },function () {
                $(_this).find("li").stop(true,false).animate({opacity:"1",filter:"alpha(opacity=100"},500);
            });
        });
        $(".c1011-row2-RTop-con li").hover(function () {
            $(this).addClass("c1011-row2-RTop_fore").siblings().removeClass("c1011-row2-RTop_fore");
        });
        //效果如下



    });
</script>

</html>