@charset "utf-8";
/*全站公共样式*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "宋体","Microsoft Yahei","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%; line-height:22px;background:#fff;color:#555;}
a{color:#555;text-decoration:none}
a:hover{color:#F08418;text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
p{word-wrap:break-word}
.clear{clear:both;content:"";display:table;}
.clearfix{zoom:1;}
.clearfix:after{ content:"."; display:block; height:0;clear:both; overflow:hidden; visibility:visible}
table{border-collapse:collapse;}
.floatL{float:left;}
.floatR{float:right;}
input,textarea,select,button {outline:none;}



.comMB10 {margin-bottom: 10px;}
.comMB20 {margin-bottom: 20px;}

.comMT20 {margin-top: 20px;}

.comMR10 {margin-right: 10px;}
.comMR20 {margin-right: 20px;}





















